/* Сброс значений по умолчанию */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    font-weight: $fornWeight;
    font-size: $fontSize;
    line-height: 1.7;
    color: $fontColor;
}

/* Header */
.header {
    height: 100vh;
    background-image: url(../img/startImage.jpg);
    background-size: cover;
    background-position: top center;

    /* Меню */
    &__menu {
        &-box {
            height: 100px;
            font-size: 20px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;

            a {
                text-decoration: none;
                color: $whiteColor;
                position: relative;
                margin: 0;
                padding: 0;
            }
            
            li {
                display: inline-block;
                list-style: none;
                clear: both;
                padding: 30px;
            }
        }
        
        &-link_active {
            color: $mainColor;
        }
    }

    /* Логотип */
    &__logo-box {
        position: absolute;
        top: 30px;
        left: 135px;
    }

    /* Текст по центру */
    &__text {
        color: $whiteColor;

        &-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        &-main {
            display: block;
            font-size: 60px;
        }

        &-sub {
            display: block;
            font-size: 26px;
        }
    }
}

