@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@import "variables";

/* Reset default values */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    font-weight: $fornWeight;
    font-size: $fontSize;
    line-height: 1.7;
    color: $fontColor;
}

/* --- A start screen --- */

.header {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;

    height: 100vh;

    background-image: url(../img/startImage.jpg);
    background-size: cover;
    background-position: top center;

    /* Logo styles */

    &__logo-box {
        margin-top: 15px;
    }

    /* Menu styles */

    &__menu {
        display: -webkit-flex; /* Safari */
        display: flex;
        margin: 0 135px;
        font-size: 20px;

        -webkit-justify-content: space-between; /* Safari */
        justify-content: space-between;

        ul {
            margin: auto;

            display: -webkit-flex; /* Safari */
            display: flex;

            li {
                list-style: none;
            }

            a {
                margin: auto;
                color: $whiteColor;
                text-decoration: none;
                margin-left: 50px;

                position: relative; /* For adding content :after */

                transition: color .2s ease-in;
            }

            /* Animation for links (an underline) */

            a:after {
                content: "";

                position: absolute;
                height: 2px;
                width: 100%;

                background-color: $mainColor;

                transform: scaleX(0);
                transition: transform .2s ease-in;
            }

            a:hover {
                color: $mainColor;
            }

            a:hover:after {
                transform: scaleX(1);
            }

        }

        /* Active link`s color */

        &-link_active {
            color: $mainColor !important;
        }
    }

    /* Text in the middle of screen */

    &__text {
        color: $whiteColor;

        &-box {
            margin: auto;
            text-align: center;
        }

        &-main {
            font-size: 60px;
            display: block;
        }
        
        &-sub {
            font-size: 26px;
            display: block;
        }
    }
}

