@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin information-block($padding: 1.5rem) {
    text-align: justify;
    padding: $padding;
    text-indent: 30px;
}