/* Font settings */
$fornWeight: 400;
$fontSize: 1.8rem;
$headerFontSize: 3.8rem;
$fontFamily: 'Open Sans', sans-serif;

/* Color settings */
$fontColor: #232323;
$whiteColor: #fff;
$mainColor: #4EC2F8;

/* General settings */
$width1920px: 192rem; /* Container size */
$spaces1920px: 27rem; /* Space in the container */

$widthContainerDesckTop: 114rem;

/* GRID */
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

/* BTN */
$border-radius: 10rem;