/* --- A start screen block HEADER --- */

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../img/startImage.jpg);
    /* Background image */
    background-size: cover;
    background-position: top center;
    /* Logo styles */
    &__logo-container {
        margin-top: 1.5rem;
    }
    /* Menu styles */
    &__menu {
        display: flex;
        margin: 0 13.5rem;
        font-size: 2rem;
        justify-content: space-between;
        ul {
            margin: auto;
            display: flex;
            li {
                list-style: none;
            }
            a {
                margin: auto;
                color: $whiteColor;
                text-decoration: none;
                margin-left: 5rem;
                position: relative;
                /* For adding content :after */
                transition: color .2s ease-in;
            }
            /* Animation for links (an underline) */
            a:after {
                content: "";
                position: absolute;
                height: .2rem;
                width: 100%;
                background-color: $mainColor;
                transform: scaleX(0);
                transition: transform .2s ease-in;
            }
            a:hover {
                color: $mainColor;
            }
            a:hover:after {
                transform: scaleX(1);
            }
        }
        /* Active link`s style */
        &-link_active {
            color: $mainColor !important;
        }
        &-link_active:after {
            transform: scaleX(1) !important;
        }
    }
    /* Text in the middle of screen */
    &__text {
        color: $whiteColor;
        &-container {
            margin: auto;
            text-align: center;
        }
        &-main {
            font-size: 6rem;
            display: block;
        }
        &-sub {
            font-size: 2.6rem;
            display: block;
        }
    }
}

@media only screen and (max-width: 1040px) {
    .header {
        /* Menu styles */
        &__menu {
            ul {
                display: none;
            }
        }
    }
}