.write-me {
    margin-top: $blockTopMargin;
    margin-bottom: 20rem;

    &__message {
        text-align: justify;
        margin-bottom: $blockTopMargin;

        &__marker {
            @include dot;
        }

        &__contact {
            a {
                &,
                &:visited,
                &:active {
                    color: $fontColor;
                    text-decoration: none;

                    transition: color .3 ease-in-out;
                }

                &:hover {
                    color: $mainColor;
                }
            }
        }
    }

    &__input {
        padding: $inputPaddingHorizontal $inputPaddingVertical $inputPaddingHorizontal 0;
        
        outline: none;
        border: none;
        border-bottom: 1px solid rgba($fontColor, .5);

        width: 100%;

        position: relative;
        top: 0;
        left: 0;

        &__container {
            position: relative;
            margin-bottom: 3rem;

            border-right: 2rem solid transparent;
            // border-left: 2rem solid transparent;

            justify-content: space-between;
        }

        &__placeholder {
            display: none;

            position: absolute;
            top: $inputPaddingHorizontal;
            left: 0;

            transition: all .3s ease-in-out;
        }

        &__underline {
            background-color: $mainColor;

            width: 100%;
            height: 3px;

            position: absolute;
            bottom: 0;
            left: 0;

            transition: transform .3s ease-in-out;
            transform: scale(0);
        }

        &:focus ~ &__placeholder {
            display: inline;

            animation: ShowInputPlaceholder .3s;

            top: calc(-#{$inputPaddingVertical} * 1.2);
            color: $mainColor;
            font-size: calc(#{$fontSize} - .2rem);
            font-style: italic;

        }

        &:focus ~ &__underline {
            transform: scale(1);
        }

        /*
        &:focus:invalid:not(:placeholder-shown) ~ &__underline {
            transform: scale(1);
            background-color: red;
        }
        */
    }

    &__button {
        text-align: right;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .write-me {
        &__button {
            & > .btn_component {
                width: 100%;
                text-align: center;
            }
        }
    }
}